#root {
  min-height: 100vh; /* Minimum height is 100% of viewport height */
  width: 100vw; /* Width is 100% of viewport width */
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./Images/Background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
